<h1>Admin Menu</h1>

<%= link_to 'Manage Albums', albums_path %><br/>
<%= link_to 'Manage Artists', artists_path %><br/>
<%= link_to 'Manage Customers', customers_path %><br/>
<%= link_to 'Manage Features', features_path %><br/>
<%= link_to 'Manage Orders', orders_path %><br/>
<%= link_to 'Manage Users', users_path %><br/>
<br/>
<%= link_to 'Logout', :controller => "admin", :action => "logout" %><br/>

