<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @feature.name %>
</p>

<p>
  <p>Album containing this feature are: </p>
  <% for album in @feature.albums -%>
  	<%= link_to(album.title, album) %>, <%= link_to(album.artist.name, album.artist)%><br/>
  <% end -%>
</p>

<%= link_to 'Edit', edit_feature_path(@feature) %> |
<%= link_to 'Back', features_path %>
